@media (min-width: 576px) {
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .sm-card {
    max-width: unset;
    padding-top: 3rem;
  }
  .sm-card__description {
    margin-bottom: 4rem;
  }
  .sm-container {
    width: 78%;
    padding: 7rem 0 6rem 0;
  }
  header p:first-of-type,
  h1 {
    font-size: 3.5rem;
  }
  .sm-card__pic {
    width: unset;
  }
  .sm-card--blue {
    grid-area: 1/3/3/4;
    align-self: center;
  }
  .sm-card--green {
    grid-area: 1/1/3/2;
    align-self: center;
  }
  .sm-card--orange {
    grid-area: 2/2/4/3;
  }
}
